/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}


:root{
    --green: #4CAF50;
}

#heart {
    color: red;
}

#container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#navbar {
    font-size: 20px;
    padding: 15px;
    background-color:var(--green);
    color: white;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#footer {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    
}

#footer a { 
    color: grey;
}

#footer a:hover {
    color:var(--green);
}

#grid {
    min-height: 100px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

#input,
.CodeMirror,
#output {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    border-top: 2px solid var(--green);
   
}

#input {
    margin: 0;
    padding: 8px;
    resize: none;
    outline: none;
    border-left: 2px solidvar(--green);


}

#output {
    padding: 5px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    border-left: 2px solid var(--green);
}

.CodeMirror{
    height: auto;
    margin: 0;
}

#control {
    padding: 10px;
}

#btn-copy {
    border: 1px solid var(--green);
    padding: 8px 15px;
    background-color: var(--green);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#btn-copy:hover {
    opacity: 0.8;
}

/* Table  style  */
table {
    border-collapse: collapse;
    overflow-x: auto;
}

tr {
    border-top: 2px solid #dee2e6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr th {
    background-color: #f2f2f2;
}

td,
th {
    padding: 10px;
}


/* code */

code {
    font-family: monospace, monospace;
    padding: .2em .4em;
    background-color: #f3f4f4;
    margin: 0;
    font-size: 90%;
    border-radius: 5px;
}

pre code {
    padding: 10px;
    display: block;
    overflow-x: auto;
    background: #f8f8f8;
    font-size: 85%;
    line-height: 1.45;
}

img {
    height: auto;
    max-width: 100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    font-family: 'Times New Roman', Times, serif;
}